<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Theaters</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    {{> navigation}}
    {{{ body }}}
    {{> footer}}
</body>

</html>